section#second{
  height: 100vh;
  padding: 3rem 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section#second>div#textbox{
  width: 45%;
}

section#second>div#textbox>h3{
  font-size: 3.75rem;
  margin-bottom: 0;
}

section#second>div#textbox>p{
  font-size: 2rem;
  margin-top: .5rem;
  font-style: italic;
}

section#second>div#chartbox{
  width: 54%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

div#chartbox>div#firstchart{
  width: 100%;
}